.thead>th {
    text-align: center;
}

.buttons-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 0px 50px 0px 50px
}

.table-responsive {
    padding: 20px
}